/* Date Picker */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFCE00;
    font-family: 'Saira', Arial, Helvetica, sans-serif;
}

h1 {
    margin: 30px 0px;
    color: #313131;
    font-size: 42px;
    font-weight: 900;
    text-align: center;
}

    h1 span {
        font-weight: 300;
    }

.date-picker {
    position: relative;
    width: 100%;
    max-width: 320px;
    height: 60px;
    background-color: #FFF;
    margin: 30px auto;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    user-select: none;
    border-radius: 7px;
}

    .date-picker:hover {
        background-color: #F3F3F3;
    }

    .date-picker .selected-date {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #313131;
        font-size: 28px;
    }

    .date-picker .dates {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #FFF;
        margin-top: 5px;
        border-radius: 7px;
    }

        .date-picker .dates.active {
            display: block;
        }

        .date-picker .dates .month {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 7px 7px 0px 0px;
            background: #6E74FF;
            color: #fff;
        }

            .date-picker .dates .month .arrows {
                width: 45px;
                height: 45px;
                display: flex;
                margin: 10px;
                border-radius: 50%;
                background: #fff;
                justify-content: center;
                align-items: center;
                color: #313131;
                font-size: 20px;
                transition: all linear 0.05s;
                -webkit-transition: all linear 0.1s;
                -moz-transition: all linear 0.1s;
                -o-transition: all linear 0.1s;
            }

                .date-picker .dates .month .arrows:hover .arrow {
                    filter: invert(1) brightness(0.3);
                }

                .date-picker .dates .month .arrows:hover {
                    background-color: #f9f9f9;
                }

                .date-picker .dates .month .arrows:active {
                    transform: scale(1.1);
                }

        .date-picker .dates .days {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            height: 200px;
            margin: 10px;
            direction: rtl;
        }

            .date-picker .dates .days .day:hover {
                background: #6eb2ff;
                color: #fff;
            }

            .date-picker .dates .days .day {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                margin-left: 3px;
                margin-right: 3px;
                overflow: hidden;
                margin-bottom: 3px;
                color: #313131;
                transition: all linear 0.1s;
                -webkit-transition: all linear 0.1s;
                -moz-transition: all linear 0.1s;
                -o-transition: all linear 0.1s;
            }

                .date-picker .dates .days .day.selected {
                    background-color: #00CA85;
                }

.mth {
    direction: rtl !important;
}

.selected-day {
    background-color: #6E74FF !important;
    color: white !important;
    border-radius: 50% !important;
    width: 88%;
    margin-left: 4px;
}

.buttons {
    position: relative;
    width: 100%;
    height: 58px;
    padding: 10px;
}

.btns:hover {
    background: #0CA940;
    color: #fff;
}

.btns {
    position: relative;
    float: right;
    height: 100%;
    width: fit-content;
    border-radius: 30px;
    background: #EEE;
    line-height: 36px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 15px;
    font-size: 14px;
    transition: all linear 0.1s;
    -webkit-transition: all linear 0.1s;
    -moz-transition: all linear 0.1s;
    -o-transition: all linear 0.1s;
}

.arrow {
    position: relative;
    width: 20px;
    height: 20px;
    filter: invert(1) brightness(0.5);
    transition: all linear 0.1s;
    -webkit-transition: all linear 0.1s;
    -moz-transition: all linear 0.1s;
    -o-transition: all linear 0.1s;
}

.ym:hover {
    background: #fff;
    color: #606060;
}

.ym {
    position: relative;
    height: fit-content;
    width: fit-content;
    padding: 1px 7px;
    border-radius: 7px;
    margin-left: 5px;
    border: 2px solid #fff;
    transition: all linear 0.1s;
    -webkit-transition: all linear 0.1s;
    -moz-transition: all linear 0.1s;
    -o-transition: all linear 0.1s;
}

.years-cont,
.months-cont {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 7px;
    background: #ffff;
    top: 0;
    right: 0;
    display: none;
}

.y-m-btns-cont {
    position: relative;
    width: 100%;
    border-radius: 7px 7px 0px 0px;
    height: 65px;
    padding-left: 10px;
    padding-right: 10px;
    background: #eee;
}

.y-holder {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 240px;
    margin: 10px;
    direction: rtl;
}

.m-holder {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 230px;
    margin: 10px;
    direction: rtl;
}

.the-m:hover {
    background: #6eb2ff;
    color: #fff;
}

.the-m {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    color: #313131;
    transition: all linear 0.1s;
    -webkit-transition: all linear 0.1s;
    -moz-transition: all linear 0.1s;
    -o-transition: all linear 0.1s;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.lr-btns:hover img {
    filter: invert(1) brightness(1);
}

.lr-btns:hover {
    background: #6eb2ff;
}

.lr-btns {
    position: relative;
    margin-top: 13px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: #fff;
    transition: all linear 0.1s;
    -webkit-transition: all linear 0.1s;
    -moz-transition: all linear 0.1s;
    -o-transition: all linear 0.1s;
}

.cancel-cont {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.cancel-btn:hover {
    background: #0CA940;
    color: #fff;
}

.cancel-btn {
    position: relative;
    padding: 7px 12px;
    width: fit-content;
    margin: 0 auto;
    border-radius: 7px;
    margin-top: 13px;
    background: #FFF;
    transition: all linear 0.1s;
    -webkit-transition: all linear 0.1s;
    -moz-transition: all linear 0.1s;
    -o-transition: all linear 0.1s;
}

.year-arrow {
    position: relative;
    width: 20px;
    margin-top: 10px;
    margin-left: 10px;
    height: 20px;
    filter: invert(1) brightness(0.5);
    transition: all linear 0.1s;
    -webkit-transition: all linear 0.1s;
    -moz-transition: all linear 0.1s;
    -o-transition: all linear 0.1s;
}

.years-select-active {
    display: block;
}

.months-select-active {
    display: block;
}
